{% extends "base.html" %}

{% block title %}
Feed
{% endblock %}

{% block content %}
<section class="min-vh-100">
	<h1 class="text-white text-center mt-5 pb-3">Feed</h1>
	{% if not user.is_superuser %}
		<div class="d-flex flex-row justify-content-center">
			<div class="px-2">
				<a href="{% url 'ticket-review-create'%}" class="btn btn-primary btn-outline btn-lg" title="Create a review" style="width:200px;">Create a Review</a>
			</div><div class="px-2">
				<a href="{% url 'ticket-create' %}" class="btn btn-primary btn-outline btn-lg" title="Request a review" style="width:200px;">Request a Review</a>
			</div>
		</div>
	{% endif %}
    <div class="container mt-0">
        <section class="py-3">
            <div class="container text-center">
                <!-- Display feed of tickets and reviews -->
                {% if posts %}
                    {% for post in posts %}
						<div style="height:20px;"></div>
                        {% if post.content_type == 'TICKET' %}
							{% if post.id not in reviewed_ticket_ids %}
								{% include 'feed/ticket_snippet.html' %}
							{% endif %}
                        {% elif post.content_type == 'REVIEW' %}
                            {% include 'feed/review_snippet.html' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                <h1 class="text-white text-center h4">No posts found.</h1>
                {% endif %}
            </div>
        </section>
    </div>
</section>
{% if posts %}
	<h3 class="text-white text-center pb-3">End of your feed ...</h1>
{% endif %}
{% endblock %}
