{% extends 'base.html' %}

{% block title %}
Delete Review
{% endblock %}

{% block content %}
<section class="min-vh-100">
	<h1 class="text-white text-center mt-5 pb-3">Delete Review</h1>
    {% include 'feed/back_button_snippet.html' %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p>Are you sure you want to delete the review titled <strong>{{ review.headline }}</strong>?</p>

                        <form method="post">
                            {% csrf_token %}

                            <!-- Action buttons: Yes, delete and Cancel -->
                            <div class="d-grid gap-3 mt-3">
                                <button type="submit" class="btn btn-danger btn-block">Yes, delete</button>

                                <a href="{% url 'posts' %}" class="btn btn-light btn-block">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
