{% load static %}
<div class="card mb-4">
	<!-- Card title -->
	<div class="d-flex px-4 rounded-top bg-card-title">
		<div class="mt-3">
			<img src="{% static 'book.png' %}" alt="{{ post.user }}" class="img-fluid me-3" style="width:28px;height:28px;">
		</div>
		<h2 class="h4 py-2 mt-2" style="height:40px;">{{ post.ticket.title }}</h2>
	</div>
	
	<!-- Card content -->
    <div class="d-flex flex-column flex-md-row p-4">
    {% if post.ticket.image %}
        <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}" class="img-fluid mr-3 book-cover" style="width:150px;height:240px;">
    {% endif %}
		<div class="d-block h-200" style="width:15px"></div>
		<div class="d-flex flex-column w-100 text-start responsive-content">
			<div class="d-flex flex-row justify-content-between">
				<div>
					<strong>
					{% if post.user == user %}
						You
					{% else %}
						{{ post.user.username }}
					{% endif %}
					</strong>
					posted a review :
				</div>
				<p class="text-end">{{ post.time_created|date:"d.m.y - H:i" }}</p>
			</div>
			<div class="flex-grow-1 p-3 border inner-content">
				<p>{{ post.headline }}</p>
				<p class="text-justify">{{ post.body|linebreaksbr }}</p>
				<div class="rating text-end py-2">
				{% for i in "12345" %}
					{% if post.rating >= forloop.counter %}
						<!-- filled star -->
						<img src="{% static 'star_full.png' %}" alt="Filled Star Rating" class="" style="max-width: 16px"></img> 
					{% else %}
						<!-- empty star -->
						<img src="{% static 'star_empty.png' %}" alt="Empty Star Rating" class="" style="max-width: 16px"></img> 
					{% endif %}
				{% endfor %}
				</div>
				{% if post.user == user and page == "posts" %}
					<div class="d-flex justify-content-end mt-3">
						<a href="{% url 'review-update' post.id %}" class="btn btn-primary btn-content d-flex justify-content-center align-items-center me-2">Update</a>
						<a href="{% url 'review-delete' post.id %}" class="btn btn-danger btn-content d-flex justify-content-center align-items-center">Delete</a>
					</div>
				{% endif %}
			</div>
			
			<!-- Ticket response -->
			<div class="d-flex justify-content-between mt-3 px-4 align-middle rounded-top bg-response-title">
				<div class="pt-3 w-50 text-start">
					In response to
					<strong>
					{% if post.ticket.user == user %}
						your
					{% else %}
						{{ post.ticket.user.username }}'s
					{% endif %}
					</strong>
					ticket :
				</div>
				<p class="pt-3 w-50 text-end">{{ post.ticket.time_created|date:"d.m.y - H:i" }}
				</p>
			</div>
			<div class="border inner-content">
				<div class="m-3">{{ post.ticket.description|linebreaks }}</div>
			</div>
		</div>
	</div>
</div>
