{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <title>LITRevu - {% block title %}{% endblock %} </title>
</head>

<body>
	{% if not hide_navbar %}
	<div class="background2"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
			<div class="">
				<a class="navbar-brand" href="#" title="LITRevu Logo"><img src="{% static 'logo1_b.png' %}" alt="LITRevu Logo" class="navbar-logo px-3" style="max-width: 80px"></img><strong>LITRevu</strong></a>
				Welcome back,&nbsp;<strong>{{ request.user.username }}</strong>&nbsp;!
			</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feed' %}">
							<button class="navbar_btn" type="button" style="width: 50px;" title="{{ request.user.username }}'s feed">Feed</button>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts' %}">
							<button class="navbar_btn" type="button" style="width: 55px;" title="{{ request.user.username }}'s posts">Posts</button>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'subscriptions' %}">
							<button class="navbar_btn" type="button" style="width: 100px;" title="{{ request.user.username }}'s subscriptions">Subscriptions</button>
						</a>
                    </li>
                    <li class="nav-item">
						<form method="POST" action="{% url 'logout' %}">
							{% csrf_token %}
							<button type="submit" class="navbar_btn" style="width: 70px; margin-top: 7px;" title="disconnect {{ request.user.username }}">Log out</button>
						</form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div class="container mt-5 p-4 main-container">
	{% else %}
	<div class="background1"></div>
	<div class="block m-5 p-5 empty_margin"></div>
	<div class="container mt-5 mb-5 pt-5">
	{% endif %}
	
    
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
	
	{% if hide_navbar %}
    <footer class="footer text-center pt-3 pb-1 bg-light fixed-bottom">
	{% else %}
	<footer class="footer text-center pt-3 pb-1 mt-auto bg-light">
	{% endif %}
        <div class="container">
            <p>
                <strong>LITRevu</strong> 2024
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
